.navbar-brand-change{
    color:white !important;

}
img{
    width: 100px;
    height: 300px;
    align-items: center;
}
.custom-design-card{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    text-align: center;
}
.custom-card{
    border: 3px slateblue;
    /* margin: 10px; */
}
.img-lamp{
    width: 200px;
    height: 200px;  
}
footer{
    background-color: #000;
    color: white;
    text-align: center;
}